<div class="list">
<% @categories.each do |category| %>
	<div class="element">
	<%= category.name %> (<%= category.position %>)
	<span><%= link_to 'Show', category %>
	<%= link_to 'Edit', edit_category_path(category) %>
	<%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></span>
	</div>
<% end %>
</div>
<br />

<%= link_to 'New Category', new_category_path %>
