<!DOCTYPE html>
<html>
<head>
  <title>FrontEndLinks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>

  <%= link_to 'About', about_url, :class => 'a' %>


 <%= link_to 'FEL', root_url, :class => 'h' %>




</footer>

</body>
</html>
