<!DOCTYPE html>
<html lang="pl"><head>
<meta charset="utf-8" /> 
<title>
Front-end links
</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
	<img src="assets/logo.png" alt="Front-end links">
</h1>

<div id="container">

<%= yield %>

</div>

<footer>
  <%= link_to 'About', about_url, :class => 'a' %>
  <%= link_to 'FEL', root_url, :class => 'h' %>
</footer>
<script>
  $(function(){
    
    $('#container').masonry({
      itemSelector: 'section'
    });

  });
</script>
</body>
</html>
